<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>[World Working Hours]</title>
        <link href="style.css" rel="stylesheet" type="text/css" media="all" />
        <script src="script.js"></script>
    </head>

    <body>
        <div id="container">
            <header>
                <h1>World Working Hours</h1>
                <p class="baseline">Check possible meeting hours worldwide</p>
            </header>

          	<main>
          		<form id="check-gmt" method="post" action="#">
          			<p><label for="TZ1">My town</label> <input type="text" id="TZ1" name="TZ1" value="<%= req ? req.TZ1 : '' %>"/></p>
      					<fieldset>
      						<legend>My working hours</legend>
      						<p><label for="hfrom">From</label> <input type="time" id="hfrom" name="hfrom"  value="<%= req ? req.hfrom : '' %>"/>
      							<label for="hto">to</label> <input type="time" id="hto" name="hto"  value="<%= req ? req.hto : '' %>"/></p>
      					</fieldset>
      					<p><label for="TZ2">My client's town</label> <input type="text" id="TZ2" name="TZ2"  value="<%= req ? req.TZ2 : '' %>"/></p>

      					<p class="buttons-bar">
      						<input type="submit" value="Check" />
      					</p>
                <% include result %>
            </form>
          </main>
		</div>
	</body>
</html>
